In [75]:
import pandas as pd
from datetime import datetime as dt

In [76]:
def remove_small_fires(data: pd.DataFrame, scn_trck='scan', size=1):
    other = 'track'
    if scn_trck == 'track':
        other = 'scan'
    keep_data = []
    for index, row in data[scn_trck].items():
        keep = True
        if row <= size:
            keep = False
        keep_data.append(keep)
    data = data[keep_data].reset_index().drop(columns=['index', other])
    return data

In [77]:
def get_date_range(data, start_date, end_date):
    """
    input in the form of a string "yyyy-mm-dd"
    """
    start_date = strip_date(start_date)
    end_date = strip_date(end_date)
    dates = data['acq_date']
    start_index = 0
    end_index = 0
    for index, row in dates.items():
        if strip_date(row) >= start_date:
            start_index = index
            break
    for index, row in reversed(dates.items()):
        if strip_date(row) >= start_date:
            end_index = -index - 1
            break
    print(start_index, end_index)

def strip_date(date):
    return dt.strptime(date, '%Y-%m-%d')

In [ ]:
def get_day_time_location(data):
    return data[['acq_time', 'acq_date', 'lititude', 'longitude']]

In [84]:
def load_fire_data(files: [list, str]):
    if type(files) == str:
        data = pd.read_csv(files)
    elif type(files) == list:
        data = pd.DataFrame([])
        for file in files:
            data = data.append(pd.read_csv(file))
    else:
        raise ValueError('files must be a list or a string')
    data = data[data['type'] == 0.0]
    data = data.reset_index().drop(columns=['index', 'version', 'instrument', 'daynight', 'confidence', 'type', 'bright_t31'])
    data = remove_small_fires(data, size=2)
    return data

In [85]:
data = load_fire_data(['data/DL_FIRE_M6_81124/fire_archive_M6_81124.csv', 'data/DL_FIRE_M6_81124/fire_nrt_M6_81124.csv'])

In [86]:
data

,acq_date,acq_time,brightness,frp,latitude,longitude,satellite,scan
0,2004-01-09,1816,324.2,92.5,53.9123,-116.4156,Terra,2.3
1,2004-01-11,1942,304.6,31.5,53.4166,-116.1232,Terra,2.2
2,2004-01-11,1942,322.0,76.2,53.4048,-116.1318,Terra,2.2
3,2004-01-11,1948,318.0,61.0,53.4094,-116.1499,Aqua,2.2
4,2004-01-11,1948,318.6,66.5,53.4109,-116.1435,Aqua,2.2
...,...,...,...,...,...,...,...,...
176741,2019-07-31,1939,325.3,135.6,59.3919,-104.7532,Terra,3.4
176742,2019-07-31,1939,312.8,33.2,60.7264,-107.3169,Terra,2.4
176743,2019-07-31,1950,310.5,34.1,53.2452,-92.1986,Aqua,2.7
176744,2019-07-31,1950,312.6,43.1,53.2412,-92.1896,Aqua,2.7
176745,2019-07-31,1950,317.2,53.6,53.4318,-93.0221,Aqua,2.5

In [87]:
max(data['latitude']), max(data['longitude'])

(69.6655, -52.9539)

In [88]:
min(data['latitude']), min(data['longitude'])

(42.0463, -141.004)

In [89]:
data['acq_date']

0         2004-01-09
1         2004-01-11
2         2004-01-11
3         2004-01-11
4         2004-01-11
             ...
176741    2019-07-31
176742    2019-07-31
176743    2019-07-31
176744    2019-07-31
176745    2019-07-31
Name: acq_date, Length: 176746, dtype: object