In [67]:
import pandas as pd
from datetime import datetime as dt

In [58]:
def remove_small_fires(data: pd.DataFrame, scn_trck='scan', size=1):
    other = 'track'
    if scn_trck == 'track':
        other = 'scan'
    keep_data = []
    for index, row in data[scn_trck].items():
        keep = True
        if row <= size:
            keep = False
        keep_data.append(keep)
    data = data[keep_data].reset_index().drop(columns=['index', other])
    return data

In [66]:
def get_date_range(data, start_date, end_date):
    """
    input in the form of a string "yyyy-mm-dd"
    """
    start_date = strip_date(start_date)
    end_date = strip_date(end_date)
    dates = data['acq_date']
    start_index = 0
    end_index = 0
    for index, row in dates.items():
        if strip_date(row) >= start_date:
            start_index = index
            break
    for index, row in reversed(dates.items()):
        if strip_date(row) >= start_date:
            end_index = -index - 1
            break
    print(start_index, end_index)

def strip_date(date):
    return dt.strptime(date, '%Y-%m-%d')

ModuleNotFoundError: No module named 'datetime.datetime'; 'datetime' is not a package

In [59]:
def load_fire_data(files: [list, str]):
    if type(files) == str:
        data = pd.read_csv(files)
    elif type(files) == list:
        data = pd.DataFrame([])
        for file in files:
            data = data.append(pd.read_csv(file))
    else:
        raise ValueError('files must be a list or a string')
    data = data[data['type'] == 0.0]
    data = data.reset_index().drop(columns=['index', 'version', 'instrument', 'daynight', 'confidence', 'type', 'bright_t31'])
    data = remove_small_fires(data, size=2)
    return data

In [56]:
data = load_fire_data(['data/DL_FIRE_M6_81124/fire_archive_M6_81124.csv', 'data/DL_FIRE_M6_81124/fire_nrt_M6_81124.csv'])

In [57]:
data

,acq_date,acq_time,brightness,frp,latitude,longitude,satellite,scan,track
0,2004-02-09,2048,328.7,251.4,57.2279,-121.9406,Terra,4.3,1.9
1,2004-02-09,2048,328.3,251.9,57.2252,-121.9467,Terra,4.3,1.9
2,2004-02-16,1924,328.9,255.9,54.0702,-117.1110,Aqua,4.1,1.9
3,2004-02-16,1924,300.2,66.7,54.0882,-117.0558,Aqua,4.1,1.9
4,2004-02-16,1924,333.5,303.3,54.0677,-117.0989,Aqua,4.1,1.9
...,...,...,...,...,...,...,...,...,...
22855,2019-07-29,2306,336.2,307.2,66.7001,-138.2264,Terra,4.4,1.9
22856,2019-07-29,2306,331.0,251.6,66.7004,-138.2352,Terra,4.4,1.9
22857,2019-07-29,2306,313.2,99.7,66.6693,-138.1709,Terra,4.4,1.9
22858,2019-07-29,2306,311.2,83.1,66.6690,-138.1630,Terra,4.4,1.9
22859,2019-07-31,1814,303.4,37.4,59.4388,-104.7361,Aqua,4.1,1.9

In [62]:
max(data['latitude']), max(data['longitude'])

(69.6346, -57.6505)

In [63]:
min(data['latitude']), min(data['longitude'])

(42.5717, -141.0016)

In [64]:
data['acq_date']

0        2004-02-09
1        2004-02-09
2        2004-02-16
3        2004-02-16
4        2004-02-16
            ...
22855    2019-07-29
22856    2019-07-29
22857    2019-07-29
22858    2019-07-29
22859    2019-07-31
Name: acq_date, Length: 22860, dtype: object